<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The name Freddy from about.ejs</title>
</head>

<body>
    <h1>The name Freddy from about.ejs</h1>
</body>

</html>